---
import SiteNav from "@components/astro/SiteNav.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import client from "@tina/__generated__/client";

const blogConnection = await client.queries.blogConnection();

const posts = blogConnection.data.blogConnection.edges.map((post) => {
  return { slug: post.node._sys.filename };
});
---

<BaseLayout title="Blog">
  <SiteNav />
  <ul>
    {
      posts.map((p) => {
        return (
          <li>
            <a href={`${import.meta.env.BASE_URL}/blog/${p.slug}`}>{p.slug}</a>
          </li>
        );
      })
    }
  </ul>
</BaseLayout>
